<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="/iview/iview.css">
    {% block header %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
    <scripe src="/javascripts/babel.min.js"></script>
    <script src="/javascripts/vue.js"></script>
    <script src="/iview/iview.js"></script>
</body>
</html>